@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Glitch&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroide.otf'); format: ('opentype');
    font-weight: normal;
}

:root {
    --cor0: #DAF7CE;
    --cor1: #54DE18;
    --cor2: #3EA612;
    --cor3: #41AD13;
    --cor4: #2a6610;
    --cor5: #1d460b;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue','cursive';
    --font-android: 'idroid', 'cursive';

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font: 1em;
    line-height: 1.3em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    color: var(--cor5);
    text-decoration: underline;
    font-weight: bold;
}

header {
    padding: 5px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    color: white;
    height: 200px;
}

nav {
    padding: 5px;
    background-color: var(--cor3);
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}

nav > a:hover {
    background-color: rgb(2, 56, 7);
    border-radius: 5px;
    transition-duration: 0.1s;
    padding: 5px 10px;
    text-decoration: underline;
    text-shadow: 0px;
}

header > h1 {
    font-family: var(--font-destaque);
    text-align: center;
    font-size: 3em;
    margin: 15px;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

header > p {
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
    text-shadow: 1px 1px 2px black;
}

main {
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 10px;
}

main > picture > img {
    width: 100%;
}

main > picture > img.android {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    padding: 8px;
    text-align: center;
    background-color: var(--cor4);
    color: white;
}

section {
    padding: 10px;
    background-color: var(--cor2);
    border-radius: 10px;
}

section > ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

section h3 {
    background-color: var(--cor5);
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;   
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px;
    padding: 10px;
    padding-bottom: 60%;
    padding-left: 100%;
    padding-right: 100%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 89%;

}